<!-- Views/Weather/Index.cshtml -->
@using DayliMvc.Models.WeatherData

@{
    ViewData["Title"] = "Weather";
}

<div class="text-center">
    <h1 class="display-4">Weather</h1>
    <p>Current weather in Uppsala?</p>
</div>

@if (Model == null)
{
    <p>Error loading data.</p>
}
else
{
    <p><strong>User ID:</p>
}
