<!-- Views/Weather/Index.cshtml -->
@model DayliMvc.Models.WeatherData

@{
    ViewData["Title"] = "Weather";
}

<div class="text-center">
    <h1 class="display-4">Weather</h1>
    <p>How is the weather in Uppsala?</p>
</div>

@if (Model == null)
{
    <p>Error loading data.</p>
}
else
{
    <p><strong>User ID:</strong> @Model.userId</p>
    <p><strong>ID:</strong> @Model.id</p>
    <p><strong>Title:</strong> @Model.title</p>
    <p><strong>Completed:</strong> @Model.completed</p>
}


<p>Item 1</p>