@{
    ViewData["Title"] = "Home";
}

@model HomepageData

<div class="row">
    <div class="col-md-6">
        <h3>Today's weather</h3>
        <p>Time: @Model.Weather.value[0].date</p>
        <p>Temperatue: @Model.Weather.value[0].value</p>
        <p>Air quality: @Model.Weather.value[0].quality</p>
    </div>

    <div class="col-md-6">
        <h3>Today's calendar</h3>
        <p>@Model.Calendar?.UserId</p>
    </div>
</div>
