@using Microsoft.VisualBasic
@using System.Globalization
@using System.Runtime.InteropServices
@{
    ViewData["Title"] = "Home";
}

@model HomepageData

<div class="row">
    <div class="round-edge-box">
        <h3><center>Dagens väder</center></h3>       
        <div class="row weather-row">
            <div class="col-md-auto">
                <center>Datum och tid
                @foreach (var element in Model.Weather.timeSeries.Take(12)) {
                    <p>
                        <time>
                            @element.time.ToString("dd MMM HH:mm", new CultureInfo("sv-SE"))
                        </time>
                    </p>
                }
                </center>
            </div>

            <div class="col-md-auto">
                <center>Temperatur
                @foreach (var element in Model.Weather.timeSeries.Take(12)) {
                    <p>@element.data.air_temperature &degC</p>
                }
                </center>
            </div>

            <div class="col-md-auto">
                <center>Väder
                @foreach (var element in Model.Weather.timeSeries.Take(12)) {
                    <p class="weather-icon">
                        <img src="~/Img/@(element.data.symbol_code).webp" style="width: 75%;" alt="@(element.data.symbol_code).webp">
                    </p>
                    
                }
                </center>
            </div>
        </div>
    </div>

    <div class="round-edge-box">
        <h3><center>Dagens schema</center></h3>
        <p>@Model.Calendar?.UserId</p>
    </div>
</div>