html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(200, 223, 238);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.weather-row {
  justify-content: space-evenly;
}
.weather-box {
  background-color: #258cfb;
}

.weather-icon {
  position: relative;
  width: 39px;
  height: 40px;
  margin: 0%;
}

.round-edge-box {
  flex: 0 0 auto;
  width: 45%;
  border: 2px solid;
  border-radius: 25px;
  border-color: #258cfb;
  padding: 12px;
  margin: 1px;
}

.prognosis-data {
  line-height: 0.4;
}