html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(200, 223, 238);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.weather-icon img {
  max-width: 40px;
  margin: auto;
}

.home-hdr {
  max-height: 30px;
  font-size: 2em;
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 4px;
}

tr {
  text-align: center;
  height: 50px;
}

td p {
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rounded-borders-blue {
  width: 49%;
  border: 2px solid;
  border-radius: 50px;
  border-color: #258cfb;
  margin: 1px;
}